.paid_service {
  margin-top: 150px;

  &_container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1440px) {
      max-width: 1320px;
    }
  }

  &_layout {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      font-family: var(--font-inter);
      font-weight: 700;
      font-size: 40px;
      color: var(--text-color);
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    &_button {
      cursor: pointer;
      width: 156px;
      height: 48px;
      padding: 10px 30px;
      border: none;
      border-radius: 20px;
      background: #eefffe;

      span {
        font-family: var(--font-inter);
        font-weight: 500;
        font-size: 16px;
        color: var(--primary-color);
      }
    }

    &_swiper {
      margin-top: 50px;

      &_slide {
        display: flex;
        flex-direction: column;
        width: 341px;
        padding-top: 30px;
        padding-left: 30px;
        height: 360px;
        border-radius: 20px;
        background: #fafafa;

        &_title {
          font-family: var(--font-inter);
          font-weight: 700;
          font-size: 28px;
          color: var(--text-color);
        }

        &_image {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 360px;

          img {
            width: 264px;
            height: 264px;
            object-fit: contain;
          }
        }
      }
    }

    &_custom {
      position: relative;

      &_buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 235px;
        left: 0;
        right: 0;
        z-index: 10;
        transform: translateY(-55%);

        button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &_prev_button {
          width: 50px;
          height: 50px;
          margin-left: -25px;
          padding: 13px;
          border: none;
          border-radius: 25px;
          background: var(--primary-color);

          &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
          }

          svg {
            color: #fff;
          }
        }

        &_next_button {
          width: 50px;
          height: 50px;
          margin-right: -25px;
          padding: 13px;
          border: none;
          border-radius: 25px;
          background: var(--primary-color);

          &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
          }

          svg {
            color: #fff;
          }
        }
      }
    }
  }
}
